*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.bg-color
{
    background-color: rgb(106, 183, 228);
    overflow: hidden;
}

body.bg-color
{
    position: relative;
    background-color:rgb(157, 209, 224);
    display: flex;
    justify-content: space-around;
    padding: 5%;
    width: 100%;
}
.img-container
{
    background-color: rgb(255, 255, 255);
    position: relative;
    width:100%;
    border-radius: 3%;
    margin-top: 20%;
    box-shadow: 10px 4px 8px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:15px;
    
}
.image-container
{
    width: 100%;
    padding: 12px;
    
}
.image
{
    
    width: 100%;
    height: auto;
    border-radius: 25px;

}
.info-container
{
    width: 100%;
    padding: 20px;
    align-content: center;
}
.heading
{
    font-size: 18px;
    text-align: center;
}
.desc
{
    font-size: 15px;
    text-align: center;
    color: grey;

}

@media(min-width:1040px) 
/*==================== code for Responsive view==================*/
@media screen and (max-width:1044px) {
    .grid-container
    {
        display:grid;
    padding: 15px;
    border:none;
    background-color: rgb(224, 231, 229);
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 10px 20px 30px grey;
    }

    
.image-container
{
    width: 100%;
    padding: 12px;
    
}
.image
{
    
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: none;

}
.info-container
{
    width: 100%;
    padding: 20px;
    align-content: center;
}
.heading
{
    font-size: 20px;
    text-align: center;
}
.desc
{
    font-size: 15px;
    text-align: center;
    color: grey;

}

    
}
