*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.bg-color
{
    background-color: rgb(106, 183, 228);
    overflow: hidden;
}
.grid-container
{
    display:grid;
    grid-template-columns: auto;
    padding: 20px;
    border:none;
    background-color: rgb(224, 231, 229);
    width: 25%;
    padding: 2px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 10px 20px 30px grey;
    
}
.image-container
{
    width: 100%;
    padding: 12px;
    
}
.image
{
    
    width: 100%;
    height: auto;
    border-radius: 25px;

}
.info-container
{
    width: 100%;
    padding: 20px;
    align-content: center;
}
.heading
{
    font-size: 18px;
    text-align: center;
}
.desc
{
    font-size: 15px;
    text-align: center;
    color: grey;

}

/*==================== code for Responsive view==================*/
@media screen and (max-width:1044px) {
    .grid-container
    {
        display:grid;
    padding: 15px;
    border:none;
    background-color: rgb(224, 231, 229);
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 10px 20px 30px grey;
    }

    
.image-container
{
    width: 100%;
    padding: 12px;
    
}
.image
{
    
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: none;

}
.info-container
{
    width: 100%;
    padding: 20px;
    align-content: center;
}
.heading
{
    font-size: 20px;
    text-align: center;
}
.desc
{
    font-size: 15px;
    text-align: center;
    color: grey;

}

    
}
